bin/
dbd/
db/

# epics 
*~
O.*
*.swp
*_BAK.adl
bin/
db/
dbd/
html/
include/
lib/
templates/
envPaths

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
